@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

*{
    margin: 0;
    font-family: 'Bubblegum Sans', cursive;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
}
img{
    width: 100%;
}
:root{
    --main-color :#000000;
    --primary-color:#ffffff;
    --secondary-color: #d8d5d5;
}




/* logo section  */
#logo{
    display: flex;
    /* border: 2px solid red; */
    width: 20%;
    height: 10vh;
    /* gap: 1rem; */
}

#logo .hawk a{
    color: var(--main-color);
    /* border: 2px solid red; */
    font-size: 4rem;
    width: 100%;
}
#logo .hawk a>img{
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    /* border: 2px solid red; */
}
#logo .logo-name h1 a{
    color: var(--main-color);
    font-size: 2.8rem;
    padding-left: 2.5rem;
    /* border: 2px solid red; */
}

/* social media section  */
#logo .all{
    /* border: 2px solid red; */
    padding-top: 0rem;
    display: flex;
    margin-left: 38rem;
}

#logo .all a{
    color: var(--main-color);
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-top: .5rem;
}
    
#logo .hawk h1 a{
    color: var(--main-color);
    font-size: 4rem;
}

/* social media logos */

#logo .all .smt:hover{
    background-color:var(--primary-color);
    color: #0a9aca;
    opacity: 100%;
}
#logo .all .smf:hover{
    background-color:var(--primary-color);
    color: #3434ec;
    opacity: 100%;
}
#logo .all .smi:hover{
    background-color:var(--primary-color);
    opacity: 100%;
}
#logo .all .ig:hover{
background: rgb(97,63,251);
background: linear-gradient(185deg, rgba(97,63,251,1) 9%, rgba(180,82,142,1) 50%, rgba(241,252,70,1) 100%);
border-radius: .6rem;
}
#logo .all .smy:hover{
    background-color:var(--primary-color);
    color: #d61b1b;
    opacity: 100%;
}
#logo .all .sml:hover{
    background-color:var(--primary-color);
    color:#064772;
    opacity: 100%;
}

/* navbar */
#navbar{
    background-color: var(--main-color);
}

#navbar .btn:hover{
    background-color: var(--primary-color);
    color: var(--main-color);
    opacity: 100%;
    padding: 0.5rem;
}

#navbar div{
    text-align: right;
    padding: 0.5rem;
}
#navbar div ul li{
    display: inline;
}
#navbar div ul li a{
    color: var(--primary-color)
}
#navbar div a>img{
    width: 5%;
}
#navbar div ul li{
    padding: 1rem;
    font-size: 1.2rem;
}

/* Index Banner Display */
#banner{
    display: flex;
    /* border: 2px solid red; */
}

/* banner left section  */
#banner .bannerl{
   background: url(/assets/images/Designer.jpg);
   height: 80vh;
   width: 50%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

/* left banner  */
#banner .bg-left{
    height: 100%;
    background: var(--secondary-color);
    opacity: 30%;
    position: relative;
}
#banner .bannerl-content{
    position: absolute;
    top: 45%;
    left: 3%;
    width: 25%;
    text-align:left;
}

#banner .bannerl .statementl{
    /* background: red; */
    font-size: 2rem;
    position: absolute;
    bottom: 25%;
    margin-left: 17%;
    padding-left: 11%;
}
#banner .bannerl .statementl a{
    background-color: red;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    color: var(--primary-color);
    margin-left: 3rem;
}
#banner .bannerl .statementl .btn:hover{
    background-color: var(--primary-color);
    color: var(--main-color);
    opacity: 80%;
}

#banner .bannerr .statementr{
    /* background: red; */
    font-size: 2rem;
    position: absolute;
    bottom: 25%;
    margin-right: 20%;
    padding-left: 1%;
}
#banner .bannerr .statementr a{
    background-color: red;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    color: var(--primary-color);
    margin-left: 6rem;
}
#banner .bannerr .statementr .btn:hover{
    background-color: var(--primary-color);
    color: var(--main-color);
    opacity: 80%;
}

#banner .bannerl-content .designer{
    font-size: 3rem;
}

#banner .bannerl-content .designer .btn:hover{
    color: #d61b1b;
}
#banner .bannerl-content .designer-paragraph{
    font-size: 1rem;
    padding-right: 5rem;
    /* border: 2px solid red; */
}

/* designer and coder links */
#banner .bannerl .bannerl-content .designer a{
    color: var(--main-color);
}
#banner .bannerr .bannerr-content .coder a{
    color: var(--main-color);

}

/* banner right section  */
#banner .bannerr{
    background: url(/assets/images/Coder.jpg);
    height: 80vh;
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* right bannerr  */

#banner .bannerr .bg-right{
    height: 100%;
    background:var(--secondary-color);
    opacity: 30%;
    position: relative;
} 
#banner .bannerr .bannerr-content{
    position: absolute;
    top: 45%;
    right: 3%;
    width: 25%;
    text-align:right;
}
#banner .bannerr-content .coder{
    font-size: 3rem;
}
#banner .bannerr-content .coder .btn:hover{
    color: #d61b1b;
}
#banner .bannerr-content .coder-paragraph{
    font-size: 1rem;
    padding-left: 5rem;
}


/* Rogue Scientist */
#rogue{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    /* border: 2px solid red; */
}

/* My Story */
#my-story{
    display: flex;
    gap: 10rem; margin-top: 1rem;
    background-color: var(--main-color);
    /* border: 2px solid red; */
}

#my-story .story-text{
    color: var(--primary-color);
    /* border: 2px solid red; */
    width: 30%;
    margin-left: 12rem;
    margin-top: 2rem;
}
#my-story .story-text h2{
    font-size: 2.5rem;
}

#my-story .story-lens{
width: 25%;
/* border: 2px solid red; */
}

/* some of my latest work  */
#heading-w{
    text-align: center;
}

/* latest works left  */

#latest-works{
    /* border: 2px solid red; */
    display: flex;
} 
#latest-works .worksl{
    background-color: var(--primary-color);
    border: var(--secondary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-color);
    width: 20%;
    padding: 0.5rem;
    margin-left: 8%;
}
#latest-works .worksl .cardl{
    background-color: var(--secondary-color);
    /* border: 2px solid red; */
    padding-top: 1.8rem;
    width: 97%;
    border-radius: 0.3rem;
    height: 12.5rem;
    padding-left: 1rem;
    /* position: relative; */
    /* margin-left: 2rem; */
}

#latest-works .worksl .cardl .card-insidel {
    /* position:absolute; */
    /* border: 2px solid red; */
    display: flex;
    gap: 0.5rem;
    width: 95%;
    margin-left: 1rem;
    padding-top: 1rem;
    border-radius: 0.3rem;
    background-color: var(--primary-color)
}

#latest-works .worksl .cardl .card-insidel .card-imgl{
    /* border: 2px solid red; */
    width: 100%;
    margin-left: 0.5rem;
}
#latest-works .worksl .cardl .card-insidel img{
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 0.5rem;
}
#latest-works .worksl .bottom-textl{
    margin-left: 1rem;
}


/* latest works center  */
#latest-works .worksc{
    background-color: var(--primary-color);
    border: var(--secondary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-color);
    width: 20%;
    padding: 0.5rem;
    margin-left: 10%;
}
#latest-works .worksc .cardc{
    background-color: var(--secondary-color);
    /* border: 2px solid red; */
    padding-top: 1.8rem;
    width: 97%;
    border-radius: 0.3rem;
    height: 12.5rem;
    padding-left: 1rem;
}

#latest-works .worksc .cardc .card-insidec {
    /* border: 2px solid red; */
    display: flex;
    gap: 0.5rem;
    width: 95%;
    margin-left: 1rem;
    padding-top: 1rem;
    border-radius: 0.3rem;
    background-color: var(--primary-color)
}

#latest-works .worksc .cardc .card-insidec .card-imgc{
    /* border: 2px solid red; */
    width: 100%;
    margin-left: 0.5rem;
}
#latest-works .worksc .cardc .card-insidec img{
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 0.5rem;
}
#latest-works .worksc .bottom-textc{
    margin-left: 1rem;
    text-align: center;
}

/* latest works right  */
#latest-works .worksr{
    background-color: var(--primary-color);
    border: var(--secondary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-color);
    width: 20%;
    padding: 0.5rem;
    margin-left: 10%;
}
#latest-works .worksr .cardr{
    background-color: var(--secondary-color);
    /* border: 2px solid red; */
    padding-top: 1.8rem;
    width: 97%;
    border-radius: 0.3rem;
    height: 12.5rem;
    padding-left: 1rem;
}

#latest-works .worksr .cardr .card-insider {
    /* border: 2px solid red; */
    display: flex;
    gap: 0.5rem;
    width: 93%;
    margin-left: 1rem;
    padding-top: 1rem;
    border-radius: 0.3rem;
    background-color: var(--primary-color)
}

#latest-works .worksr .cardr .card-insider .card-imgr{
    /* border: 2px solid red; */
    width: 100%;
    margin-left: 0.5rem;
}
#latest-works .worksr .cardr .card-insider{
    padding-left: 0.3rem;
}
#latest-works .worksr .cardr .card-insider img{
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 0.5rem;
}
#latest-works .worksr .bottom-textr{
    margin-left: 1rem;
    text-align: right;
}

/* About me */

#about-me{
    background-color:var(--secondary-color);
    display: flex;
    gap: 5rem;
    /* border: 2px solid red; */
 }
 #about-me .about-contents {
    width: 40%;
    /* border: 2px solid red; */
    height: 50vh;
    margin: auto;
    padding-left: 20%;
    padding-top:10%;
}
#about-me .my-picture img{
    width: 70%;
 }

 #about-me .about-contents .text h2{
    font-size: 3rem;
    margin-bottom: 2rem;
 }

/* featured events */
#featured{
    display: inline;
    margin: 2rem;
    /* border: 2px solid red; */
}
#featured .texts{
    /* border: 2px solid red; */
    margin-left: 6%;

}
#featured .featured-images {
    width: 10%;
    /* border: 2px solid red; */
    display: flex;
    gap: 1rem;
    margin-left: 5rem;
}
#featured .featured-p{
    /* border: 2px solid red; */
    margin-left: 6%;
}

 /* what i do  */
 #my-jobs{
    /* border: 2px solid red; */
    display: flex;
    background-color: var(--main-color);
    color: var(--primary-color);
    text-align: left;
    gap: 5rem;
 }
 #my-jobs .part-designer{
    /* border: 2px solid red; */
    margin-left: 5rem;
    /* border: 2px solid red; */
    height: 50%;
    width: 40%;
    padding-top: 5rem;
 }
  #my-jobs .part-designer h2{
    text-align: center;
    font-size: 2.5rem;
  }

 #my-jobs .battery a{
    /* border: 2px solid red; */
    color: var(--primary-color);
    font-size: 15rem;
    padding-top: 2rem;
 }

 #my-jobs .part-coder{
    /* border: 2px solid red; */
    height: 50%;
    width: 40%;
    /* border: 2px solid red; */
    padding-top: 5rem;
 }
 #my-jobs .part-coder h2{
    text-align: center;
    font-size: 2.5rem;
 }

  /* Random facts section*/
  #random-facts{
    /* border: 2px solid red; */
    display: flex;
    gap: 5rem;
    width: 80%;
    padding-left: 15%;
    
  }
  #random-facts .picture{
    width: 40%;
  }
  #random-facts .text{
    /* border: 2px solid red; */
    padding-top: 10rem;
  }
  #random-facts .text h2{
    font-size: 3rem;
    text-align: center;
  }
  #random-facts .text ul{
    font-size: 1.5rem;
  }

 
 /* portfolio first section  */

 #portfolio{
    display: flex;
    margin-top: 2rem;
    /* border: 2px solid red; */
 }

 #portfolio .portfolio-text{
    /* border: 2px solid red; */
    width: 26%;
    margin-top: 4rem;
    margin-left: 18%;
 }
 #portfolio .portfolio-text h2{
    font-size: 3rem;
 }
 #portfolio .portfolio-text h4{
    font-size: 1.2rem;
 }
 #portfolio .portfolio-text p{
    width: 80%;
 }
 #portfolio .picture{
    /* border: 2px solid red; */
    width: 40%;
 }

 /* portfolio important projects */

 #important-projects{
    background-color: var(--main-color);
 }

 #important-projects p{
    color: var(--main-color);
 }
























 /* Blog */
 .blog{
    text-align: center;
    font-size: 8rem;
    padding-top: 15rem;
 }

/* services */
.services{
    text-align: center;
    font-size: 8rem;
    padding-top: 15rem;
}

 /* contact section*/
 #contact-page{
    background-color: var(--secondary-color);
    /* border: 2px solid red; */
 }

 .contact-contents{
    display: flex;
    align-items: center;
    gap: 4rem;
 }
.contact-contents .contact-picture img{
    width: 55%;
    padding-left: 10rem;
}
.contact-contents .contact-text{
    margin-left: 15rem;
    /* border: 2px solid red; */
    width: 40%;
}
.contact-contents .contact-text h2{
    font-size: 4rem;
}
.contact-contents .contact-text p{
    width: 60%;
    font-size: 1.2rem;
}

/* social-media contact section  */
.contact-contents .contact-text .social-media a{
    color: var(--main-color);
    font-size: 3rem;
    /* border: 2px solid red; */
}

.contact-contents .contact-text .social-media .smt:hover{
    background-color:var(--secondary-color);
    color: #0a9aca;
    opacity: 100%;
}
.contact-contents .contact-text .social-media .smf:hover{
    background-color:var(--secondary-color);
    color: #3434ec;
    opacity: 100%;
}
.contact-contents .contact-text .social-media .smi:hover{
    background-color:var(--secondary-color);
    opacity: 100%;
}
#contact-page .ig:hover{
    background: rgb(97,63,251);
    background: linear-gradient(185deg, rgba(97,63,251,1) 9%, rgba(180,82,142,1) 50%, rgba(241,252,70,1) 100%);
    border-radius: .6rem;
}
.contact-contents .contact-text .social-media .smy:hover{
    background-color:var(--secondary-color);
    color: #d61b1b;
    opacity: 100%;
}
.contact-contents .contact-text .social-media .sml:hover{
    background-color:var(--secondary-color);
    color:#064772;
    opacity: 100%;
}


/* contact  form section */
#message-form{
    background-color: var(--main-color);
    padding-bottom: 3rem;
}

#message-form .form-content{
display: flex;
gap: 4rem;
text-align: left;
}

#message-form .label h6{
    color:var(--primary-color);
    font-size: 2rem;
    padding-top: 2rem;
    text-align: left;
    padding-left: 15rem;
   
}
#message-form .form-content .info{
    width: 50%;
    gap: 8rem;
}
#message-form .form-content .textarea{
    width: 50%;
    gap: 8rem;
}

#message-form .form-content .info form input{
    width: 55%;
    margin-left: 15rem;
    margin-top: 1rem;
}

#message-form .form-content .textarea form textarea{
    width: 60%;
    display: block;
    margin-top: 1rem;
}
#message-form .form-content .textarea form button{
    margin-top: 1rem;
    
}

/* footer section  */
#copyright{
    margin-top: 3rem;
    padding-bottom: 1rem;
    display: flex;
    background-color: var(--main-color);
    gap: 20%;
    /* border: 2px solid red; */
    
}
#copyright .name, .privacy, .terms{
    text-align: center;
    padding-left: 5rem;
}
#copyright .name h5, .privacy h5, .terms h5{
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--primary-color);
}
